.hero_section {
  background: url("../img/BG.png") no-repeat;
  background-size: cover;
  height: 75vh;
}

.hero_text {
  padding: 100px 0 20px 200px;
}
.hero_text h1 {
  font-size: 2.7rem;
  color: #01996d;
  letter-spacing: 1.8px;
}
